* {
    background-color: #3b3a3b;
    color:#FFF;
    font-family: Arial, Helvetica, sans-serif;
}

body, section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin: 10px;
    padding:8px;
    border-radius: 8px;
    border-style: none;
    background-color: rgb(13, 130, 130);
}